
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
    
}



/* -----------NAVBAR--------------- */
.navCon{
    background-color: #161616;
    box-shadow: 0 6px 15px 0 rgb(0 0 0 / 25%);
    justify-content: space-between;
    position: fixed;    
    width: 100%;
    height: 60px;
}

.logo {
    font-size: 25px;
    margin: 20px;
    color: rgb(255, 255, 255);
}
.logo span{
    color: rgb(44, 111, 255);
    
}
.logo:hover, .myProject:hover, .contact:hover{
    color:rgb(158, 157, 155);
    cursor: pointer;
}
.navInfo{
    align-items: center;
}

.myProject{
    margin: 20px;
    color: rgb(44, 111, 255);
}


.contact{
    margin: 20px;
    color: rgb(44, 111, 255);
}

/* --------------------------------------- */

/* -----------CONTENT--------------------*/
a{
    text-decoration: none;
    color:inherit
}
.container{
    background-color: #161616;
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll; 
    height: 100vh;   
}
.snapCon{
    scroll-snap-align: start;
    padding-top: 60px;  
}
.firstContainer{
    align-items: center;
    justify-content: space-between;

}
.childSnap{
    padding-top: 60px;
    height: 90vh;
    word-wrap: break-word;
    align-items: flex-start;
    letter-spacing:3px;
    padding: 40px;
    margin: 40px;
    gap: 60px;
}
.info{
    color: whitesmoke;
    font-size: 30px;
}

.header{
    font-size: 50px;
    color: whitesmoke;
}
.educations span{
    color: rgb(44, 111, 255);

}



.experiences, .educations{
    margin:20px;
}
.experiences span{
    color: rgb(44, 111, 255);

}

.experiences p, .educations p{
    margin:10px;
    text-indent: 10%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.STR, .WKN {

    margin:20px;
}
.STR span, .WKN span{
    color: rgb(44, 111, 255);
    
}
.STR ul, .WKN ul{

    margin:10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 10%;
}
.imgCon{
    width: 80%;
    margin: 60px;
}


/* -----------------PROJECTS--------------------- */


.picInfo1,.picInfo2,.picInfo3,.picInfo4,.picInfo5{
    display: none;
    color: antiquewhite;
    padding: 40px;
}

.react-store, .fetchAppWP, .wpSAD, .sneakersWebshop, .techStore{
    width: 28%;
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
.optical, .ERP, .SAD, .sneakers, .techStoreProject{
    width: 100%;
    height: 100%;
}


.projectCon{
    align-items: start;
    flex-wrap: wrap;
    gap:60px;
    padding: 30px;
}


.rs, .fawp, .wps, .sw, .ts7{
    word-wrap: break-word;
}

.projectTitle{
    font-size: 40px; 
    color: antiquewhite;

}
/* ----------CONTACTS---------- */
#ig , #fb, #mail, #gh, #li{
    font-size: 5em;
    margin: 30px;
}
.socHeader{
    font-size: 50px;
    color: whitesmoke;
}

.socialText{
    font-size: 5em;
    gap: 50px;
  
}

.mail, .github, .insta, .face, .linkedin{
    color: #585858;
}
.mail:hover, .github:hover, .insta:hover, .face:hover, .linkedin:hover{
    color: white;
}
#mail, #gh, #ig, #fb,#li{
    color: #585858;
}

/* ---------------shorthands class---- */
.flex{
    display:flex;
}
.centerHRow{
    flex-direction: row;
    justify-content: center;
}
.centerVRow{
    flex-direction: row;
    align-items: center;
}
.centerVCol{
    flex-direction: column;
    align-items: center;
}
.centerHCol{
    flex-direction: column;
    justify-content: center;
}
.deadCenter{
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
/* ---------MEDIA QUERIES---------------- */

@media only screen and (max-width:700px) {
    
    .container{

        overflow-y: scroll;
    }

    .STR ul, .WKN ul{
        font-size: 15px;
    }

    .experiences p, .educations p{
        font-size: 15px;
    }
    #ig , #fb, #mail, #gh, #li{
        font-size: 3em;
        margin:25px;
    }
    .socHeader{
        font-size: 15px;
        color: whitesmoke;
    }
    
    .socialText{
        font-size: 3em;
        gap: 40px;
        margin-top: 15px;
      
    }

    .projectTitle{
        font-size: 25px; 
        color: antiquewhite;
        padding: 10px;
    }


    .react-store, .fetchAppWP, .wpSAD, .sneakersWebshop, .techStore{
        width: 45%;
        box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
        
    }

    .childSnap{
        margin: 0;
        padding: 2px;
    }
    .projectCon{
        padding: 10;
    }
    .header{
        font-size: 20px;
        margin: 10px;
    }
    .info{
        font-size:25px;
        margin: 20px;
    }
    .coderSVG{
        width: 100px;
    }
}


@media only screen and (max-width:375px){



    #ig , #fb, #mail, #gh, #li{
        font-size: 1em;
        margin:20px;
    }
    .socHeader{
        font-size: 15px;
        color: whitesmoke;
    }
    
    .socialText{
        font-size: 1em;
        gap: 40px;
        margin-top: 15px;
      
    }

    .projectTitle{
        font-size: 15px; 
        color: antiquewhite;
        padding: 10px;
    }


    .react-store, .fetchAppWP, .wpSAD, .sneakersWebshop, .techStore{
        width: 30%;
        box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
        
    }

    .childSnap{
        margin: 0;
        padding: 2px;
    }
    .projectCon{
        padding: 10;
    }
    .header{
        font-size: 20px;
        margin: 10px;
    }
    .info{
        font-size:15px;
        margin: 10px;
    }
    .coderSVG{
        width: 100px;
    }
}