.projectContainer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.slideTitle {
  margin: 20px;
  width: fit-content;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}
.slideTitle:hover{
    color: rgba(255, 255, 255, 0.459);
}
.thumbnailsContainer {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  gap:20px;
  flex-wrap: wrap;
}

.presentationImg{
    height:50vh;
    object-fit: contain;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 25px;
    border-radius: 10px;
}

.activeThumbnail {
  height: 100%;
  width: auto;
  object-fit: contain;
  border: 3px solid #6e7ebc;
}
.notActiveThumbnail {
    height: 100%;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.alice-carousel__prev-btn {
  left: 0;
  margin-left: 100px;
  width: 50px!important;
  height: 50px;
  display: flex;
  align-items: center;
}

.alice-carousel__next-btn {
  right: 0;
  margin-right:100px;
  width: 50px!important;
  height: 50px;
  display: flex;
  align-items: center;
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    padding: 0;
    color: #ffffff!important;
    font-size: 50px;
}
.alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
    color: #ffffffb7!important;
}

.react-tooltip {
    font-size: 14px;
    padding: 8px;
    background-color: #333;
    color: #fff;
  }
  
 .rotate-text {
      align-items:flex-start;
      color: white;
      display: flex;
      white-space: wrap;
      justify-content: center;
      margin-left: 70% ;
      transform: rotate(35deg);
    }

  @media only screen and (max-width: 768px) {
    .thumbnailsContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        }
    .presentationImg{
        height: 20vh;
    }
    .activeThumbnail, .notActiveThumbnail{
        height: 40%;
    }
    .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
      display: none;
    }
    
    .slideTitle {
      margin: 20px;
      width: fit-content;
      font-size: 3rem;
      color: white;
      cursor: pointer;
    }
  }
